/* You can add global styles to this file, and also import other style files */
/* @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"); */

@font-face {
    font-family: 'Apple ][';
    src: url(assets/fonts/apple][/PrintChar21.ttf) format("truetype");
}
@font-face {
    font-family: 'Permanent Marker';
    src: url(assets/fonts/permanent-marker/PermanentMarker-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'Vollkorn';
    src: url(assets/fonts/vollkorn/Vollkorn-VariableFont_wght.ttf) format("truetype");
}
