  <section>
    <header>
        <span>Jim Crockett</span>
    </header>
    <div class="profile-pic-container">
        <img class="profile-pic"  src="/assets/images/linkedin_profile.jpg" />
    </div>
    <content>
        <div><a href="https://www.linkedin.com/in/crockettjim">LinkedIn Profile</a></div>
        <div><a href="https://app.pluralsight.com/profile/jim-crockett">Pluralsight Achievements</a></div>
    </content>
    <footer>
        <div class="disclaimer">This is written for and better viewed on a landscape desktop.</div>
    </footer>  
</section>